.button {
  padding: 20px 16px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.18;
  &:enabled:hover {
    background-color: #3678fd; //! 임시
  }
  &:enabled:active {
    background-color: var(--color-primary); //! 임시
  }
  &:disabled {
    background-color: var(--color-gray-30);
    cursor: not-allowed;
  }
}
