{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 80,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "parser": "css"
      }
    }
  ],
  "importOrder": [
    "^svelte$",
    "^svelte/(.*)$",
    "^@sveltejs/kit(.*)$",
    "^$app/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)",
    "^@/(views|utils|context|hooks|lib|pages|routes|services|styles|ui|shared|store)/?(.*)$",
    "\\.(c|le|sc)ss$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
