.button {
  padding: 16px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:enabled:hover {
    background-color: #3678fd; //! 임시
  }
  &:enabled:active {
    background-color: var(--color-primary); //! 임시
  }
  &:disabled {
    background-color: #bfbfc0; //! 임시
    cursor: not-allowed;
  }
}
