@import '../../../style/mixin';

.badge {
  $size: 22px;
  width: max-content;
  min-width: 22px;
  height: 22px;
  border-radius: 999px;
  padding: 5px 7.5px;
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  font-weight: 800;
  user-select: none;

  //* theme
  @include color-theme();
  &.gray {
    background-color: var(--color-gray-10);
    color: var(--color-gray-80);
  }
  &.red {
    background-color: var(--color-red);
    color: var(--color-white);
  }
}
