#sidebar {
  height: 100%;
  border-right: 1px solid var(--color-gray-10);
  width: var(--layout-sidebar-w);
  position: relative;
  min-width: var(--layout-sidebar-w-min);
  max-width: var(--layout-sidebar-w-max);
  & > .inner {
    $common-rows: minmax(auto, 80px);
    display: grid;
    grid-template-rows: $common-rows minmax(auto, 100vh) $common-rows;
    width: inherit;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    min-width: inherit;
    max-width: inherit;
  }
  .logo-wrap {
    padding: 24px;
    & :global(.logo) {
      width: 80px;
    }
  }
  .menu {
    $item-pd: 16px 40px;
    &-item {
      .wrap {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 24px;
      }
      &.active {
        .wrap {
          &::before {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            content: '';
            width: 4px;
            height: 40px;
            background-color: var(--color-primary);
          }
        }
      }
      .icon-feature {
        width: 24px;
        height: 24px;
        margin-right: 16px;
      }
      .text {
        color: var(--color-gray-80);
      }
      .icon-chevron {
        width: 10px;
        height: 10px;
        margin-left: auto;
        &.active {
          transform: rotate(180deg);
        }
      }
    }
    &-chd-list {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr;
      justify-items: center;
      padding: 8px 0;
      .item {
        a {
          padding: $item-pd;
          display: inline-block;
          width: 100%;
          height: 100%;
          color: inherit;
        }
        width: calc(100% - 24px * 2);
        color: var(--color-gray-80);
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          background-color: var(--color-bg-active);
        }
        &.active {
          color: var(--color-primary);
          background-color: var(--color-bg-active);
        }
      }
      .add-item {
        padding: $item-pd;
        display: inline-flex;
        align-items: center;
        color: var(--color-gray-100);
        font-size: 16px;
        cursor: pointer;
        flex-wrap: wrap;
        position: relative;
        .icon {
          $size: 24px;
          width: $size;
          height: $size;
          margin-right: 8px;
        }
        .add-modal {
          position: absolute;
          left: calc(100% + 16px + 9px);
          top: 0;
          color: initial;
          cursor: initial;
          width: max-content;
          overflow: visible;

          .inner {
            display: grid;
            grid-gap: 24px;
            overflow: inherit;
          }
          .title {
            text-align: center;
            color: var(--color-primary);
          }
          :global(label) {
            margin-bottom: 4px;
          }
          .date-picker {
            & > .inner {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-gap: 8px;
            }
          }
        } // .add-modal
      } // .add-item
    }
  }
  .bottom {
    .logout-wrap {
      display: flex;
      align-items: center;
      padding: 24px;
      cursor: pointer;
      .icon {
        width: 24px;
        height: 24px;
        margin-right: 16px;
      }
      .text {
        font-size: 16px;
        font-weight: 500;
        color: var(--color-gray-80);
        line-height: 1.2;
      }
    }
  } // .bottom
}
