@import '../../../style/mixin';

.date-picker {
  &.has-icon {
    $icon-size: 24px;
    $side-pd: 16px;
    $interval: 10px;

    display: inline-flex;
    align-items: center;
    padding: 14px $side-pd;
    position: relative;
    min-width: 196px;
    & :global(.icon) {
      width: $icon-size;
      height: $icon-size;
      margin-right: 10px;
      position: relative;
      z-index: 1;
    }
    & :global(.date-time-field) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-color: transparent;
    }
    & :global(input) {
      @include input-style;
      padding: 0;
      width: 100%;
      height: 100%;
      padding-left: calc(#{$side-pd} + #{$icon-size} + #{$interval});
      background-color: inherit;
      &:hover {
        background-color: inherit;
      }
    }
  }
}
