#header {
  position: fixed;
  left: var(--layout-sidebar-w);
  top: 0;
  z-index: 1000;
  width: calc(100% - var(--layout-sidebar-w));
  height: var(--layout-header-h);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray-10);
  padding: 12px 32px;
  background-color: var(--color-white);
  .title {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
  }
  .right-area {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 32px;
    align-items: center;
    .icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
    .notice {
      position: relative;
      .dot {
        $size: 6px;
        width: $size;
        height: $size;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 50%;
        background-color: var(--color-red);
        transform: translate(50%, 0);
      }
    }
    .search {
      position: relative;
      height: 56px;
      display: flex;
      align-items: center;
      .icon {
        position: relative;
        z-index: 1;
      }
      &-input {
        $time: 0.3s;
        position: absolute;
        right: -16px;
        top: 0;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        padding-right: 48px;
        opacity: 1;
        transition: width $time;
        width: 316px;
        &.inactive {
          width: 0;
          padding: 0;
          opacity: 0;
        }
      }
    } // .search
  } // .right-area
}
