$webfont-url: 'https://cdn.jsdelivr.net/gh/webfontworld';

//? Pretendard
@font-face {
  font-family: 'Pretendard';
  src: local(Pretendard-Thin),
    url('#{$webfont-url}/pretendard/Pretendard-Thin.woff2'), format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Pretendard';
  src: local(Pretendard-Light),
    url('#{$webfont-url}/pretendard/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Pretendard';
  src: local(Pretendard-Regular),
    url('#{$webfont-url}/pretendard/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Pretendard';
  src: local(Pretendard-Medium),
    url('#{$webfont-url}/pretendard/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Pretendard';
  src: local(Pretendard-SemiBold),
    url('#{$webfont-url}/pretendard/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Pretendard';
  src: local(Pretendard-Bold),
    url('#{$webfont-url}/pretendard/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Pretendard';
  src: local(Pretendard-ExtraBold),
    url('#{$webfont-url}/pretendard/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Pretendard';
  src: local(Pretendard-Black),
    url('#{$webfont-url}/pretendard/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

//? Gmarket Sans
@font-face {
  font-family: 'GmarketSans';
  src: local(GmarketSansLight),
    url('#{$webfont-url}/gmarket/GmarketSansLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'GmarketSans';
  src: local(GmarketSansMedium),
    url('#{$webfont-url}/gmarket/GmarketSansMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'GmarketSans';
  src: local(GmarketSansBold),
    url('#{$webfont-url}/gmarket/GmarketSansBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
