//* variable
:root {
  // color
  --color-white: #fff;
  --color-black: #000;

  --color-gray-100: #2b2a2c;
  --color-gray-90: #403f41;
  --color-gray-80: #555556;
  --color-gray-70: #6b6a6b;
  --color-gray-60: #807f80;
  --color-gray-50: #959596;
  --color-gray-40: #aaaaab;
  --color-gray-30: #bfbfc0;
  --color-gray-20: #d5d4d5;
  --color-gray-10: #eaeaea;
  --color-gray-5: #f2f2f2;
  --color-gray-3: #f6f6f6;

  --color-primary: #1463fd;
  --color-white: #fff;
  --color-red: #e62e2e;
  --color-pink: #db2777;
  --color-green: #11d200;
  --color-blue: #2563eb;
  --color-bronze: #ca8a04;
  --color-purple: #8833ff;

  // bg color
  --color-bg-pink: #fdedf5;
  --color-bg-green: #e9f9ef;
  --color-bg-blue: #e9effd;
  --color-bg-bronze: #fdf7e6;
  --color-bg-purple: #f3ebff;

  // layout
  --layout-header-w: 300px;
}

//* style
.title {
  border: 3px solid #0f0;
  color: var(--color-primary);
}
.custom-scroll {
  &::-webkit-scrollbar {
    width: 0px;
  }
}
