//* variable
:root {
  // color
  --color-white: #fff;
  --color-black: #000;

  --color-gray-100: #2b2a2c;
  --color-gray-90: #403f41;
  --color-gray-80: #555556;
  --color-gray-70: #6b6a6b;
  --color-gray-60: #807f80;
  --color-gray-50: #959596;
  --color-gray-40: #aaaaab;
  --color-gray-30: #bfbfc0;
  --color-gray-20: #d5d4d5;
  --color-gray-10: #eaeaea;
  --color-gray-5: #f2f2f2;
  --color-gray-3: #f6f6f6;

  --color-primary: #1463fd;
  --color-primary-hover: #0857f1;
  --color-primary-active: #1149b5;

  --color-white: #fff;
  --color-red: #e62e2e;
  --color-pink: #db2777;
  --color-green: #11d200;
  --color-blue: #2563eb;
  --color-bronze: #ca8a04;
  --color-purple: #8833ff;

  // bg color
  --color-bg-pink: #fdedf5;
  --color-bg-green: #e9f9ef;
  --color-bg-blue: #e9effd;
  --color-bg-bronze: #fdf7e6;
  --color-bg-purple: #f3ebff;

  --color-bg-active: #f6f9ff;
  --color-bg-card: #f9f9f9;

  // layout
  --layout-sidebar-w: 300px;
  --layout-sidebar-w-max: 450px;
  --layout-sidebar-w-min: 210px;

  --layout-header-h: 80px;

  --layout-aside-w: 480px;
  --layout-aside-w-max: 500px;
  --layout-aside-w-min: 250px;
  --layout-kanban-w: 338px;
}

//* style
.custom-scroll {
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resize {
  @mixin common-style {
    user-select: none;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 10px;
      height: 100%;
      cursor: col-resize;
      z-index: 5;
    }
  }
  &-left {
    @include common-style();
    &:after {
      left: 0;
    }
  }
  &-right {
    @include common-style();
    &:after {
      right: 0;
    }
  }
}
.cetner {
  display: flex;
  align-items: center;
  justify-content: center;
}
