//* variable
:root {
  // color
  --color-primary: #1463fd;
  --color-white: #fff;
  --color-red: #e62e2e;
  --color-pink: #db2777;
  --color-green: #11d200;
  --color-blue: #2563eb;
  --color-bronze: #ca8a04;
  --color-purple: #8833ff;

  // bg color
  --color-pink: #fdedf5;
  --color-green: #e9f9ef;
  --color-blue: #e9effd;
  --color-bronze: #fdf7e6;
  --color-purple: #f3ebff;
}

//* style
.title {
  border: 3px solid #0f0;
  color: var(--color-primary);
}
