@function box-shadow-border($px, $color) {
  @return inset 0 0 0 $px $color;
}

//* responsive
$screen-lg: 1440px;

@mixin responsive-lg {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

// chip, badge 에 사용되는 컬러 테마
@mixin color-theme {
  $colors: (pink, green, blue, bronze, purple);
  @each $color in $colors {
    &.#{'' + $color} {
      color: var(--color-#{$color});
      background-color: var(--color-bg-#{$color});
    }
  }
}

// input 스타일
@mixin input-style {
  $time: 0.2s;
  border-radius: 10px;
  box-shadow: box-shadow-border(1px, var(--color-gray-20));
  border: 0;
  padding: 18px 16px;
  appearance: none;
  outline: none;
  transition: border $time, box-shadow $time, background-color $time;
  color: var(--color-gray-100);
  line-height: 1.2;
  font-size: inherit;
  font-weight: 400;
  width: 100%;
  height: 52px;
  &:hover {
    background-color: #f6f9ff;
  }
  &:focus {
    box-shadow: box-shadow-border(1px, var(--color-primary)),
      0px 0px 8px rgba(20, 99, 253, 0.2);
  }
  &::placeholder {
    color: var(--color-gray-20);
  }
  &:disabled {
    background-color: var(--color-gray-5);
    cursor: not-allowed;
  }
}
