@function box-shadow-border($px, $color) {
  @return inset 0 0 0 $px $color;
}

//* responsive
$screen-lg: 1440px;

@mixin responsive-lg {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

// chip, badge 에 사용되는 컬러 테마
@mixin color-theme {
  $colors: (pink, green, blue, bronze, purple);
  @each $color in $colors {
    &.#{'' + $color} {
      color: var(--color-#{$color});
      background-color: var(--color-bg-#{$color});
    }
  }
}
