#aside {
  position: relative;
  background-color: inherit;
  width: var(--layout-aside-w);
  min-width: var(--layout-aside-w-min);
  max-width: var(--layout-aside-w-max);
  height: 100%;
  .aside-wrap {
    $pd-hor: 24px;
    position: relative;
    height: inherit;
    width: inherit;
    background-color: inherit;
    padding: $pd-hor 16px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .title {
    font-size: 16px;
    user-select: none;
  }
  .msg {
    &-wrap {
      display: grid;
      grid-template-rows: 1fr auto;
      row-gap: 24px;
    }
    &-box {
      padding: 20px 0;
      border: 1px solid var(--color-gray-10);
      border-radius: 8px;
    }
    &-input {
      width: 100%;
    }
  }
}
