.empty-project {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .text {
    user-select: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--color-gray-60);
  }
}
