@import '../../../style/mixin';

.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 10px;
  font-family: 'inter', sans-serif;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  height: 20px;

  //* theme
  @include color-theme();
}
