@import '../../../style/mixin';

.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 10px;
  font-family: 'inter', sans-serif;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  height: 20px;

  //* theme
  @include color-theme();
  &.gray {
    background-color: var(--color-gray-5);
    color: var(--color-gray-60);
  }
  & > :global(.icon) {
    $size: 12px;
    width: $size;
    height: $size;
    margin-left: 8px;
  }
}
